extends ../layout

block content
  .page-header
    h3 Donate
    p #{data.title}
    br
    img(id="imgcontrol", src=data.pic, width="50%", height="50%")
    form.form-horizontal(, action='/donate', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='toUserId') To
            .col-sm-7
              input.form-control(type='text', name='toUserId', required, value=data.userId, readonly)
        .form-group
            label.col-sm-3.control-label(for='amount') Amount
            .col-sm-7
              input.form-control(type='number', name='amount', , required, value=0)
        .form-group
            label.col-sm-3.control-label(for='password') Password
            .col-sm-7
              input.form-control(type='password', name='password',required, value=user.password)
        div(class="modal-footer")
        button(type="button" class="btn btn-default" data-dismiss="modal") Close
        button(type="submit" class="btn btn-danger") Submit

