extends ../layout

block content
  h3.text-center My Account
  script(src='/js/profile.js')
  form.form-horizontal(id='profileInfo', action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
            label.col-sm-3.control-label Avatar
            .col-sm-7
                .col-sm-1
                  img(id="imgcontrol", src=user.profile.picture, class='profile center-block', width='50', height='50')
                .col-sm-6(style="margin-top: 12px; margin-left: 12px")
                  input#upload(type='file', onchange="onFileChange(this)")
                  a(href="" id="upload_link") Choose File
                  input.form-control(type='hidden', name='picturebytes', id='picturebytes', value=user.profile.picture)
    .form-group
      label.col-sm-3.control-label(for='addressId') Id
      .col-sm-7
        input.form-control(type='text', name='addressId', id='addressId', value=user.addressId, readonly)
    .form-group
      label.col-sm-3.control-label(for='balance') Balance
      .col-sm-7
        input.form-control(type='text', name='balance', id='balance', value=user.balance + ' NAS', readonly)
    .form-group
            label.col-sm-3.control-label(for='name') Name
            .col-sm-7
              input.form-control(type='text', name='name', id='name', value=user.profile.name)


    .form-group
            .col-sm-offset-3.col-sm-4
              a(data-toggle="modal" href="#passwordModal" class="btn btn-primary") Update

    include ../partials/passwordconfirm

  script.
    document.addEventListener("DOMContentLoaded", function(event) {
        //document.getElementById('imgcontrol')
   // .setAttribute(
    //    'src', '#{user.profile.picture}'
    //);
      });
          //$('.alert').hide();
           // getProfile('#{user.addressId}');
    
